---
title: Not Found (404)
description: The resource you tried to access cannot be found.
layout: base.njk
permalink: 404.html
---

<section class="w3-camo-black w3-padding-64">
    <div class="w3-auto w3-container w3-padding-64 w3-center">
        <h2 class="w3-xxxlarge">{{ title }}</h2>
        <p class="w3-xlarge">{{ description }}</p>
    </div>
</section>

<section class="w3-metro-darken">
    <div class="w3-content w3-container w3-padding-64">
        <ul>
            <li>Check the URL in the address bar of your web browsing software for any typing errors.</li>
            <li>Have a look around the website to see if you can find the resource. The <a href="/">home page</a> is a good place to start.</li>
            <li>(Optionally) If you clicked a hyperlink or button on another resource, that could now be considered outdated. Please let them know about this so it can be updated or removed accordingly.</li>
        </ul>
    </div>
</section>
