---
layout: "base.njk"
---

<section class="w3-camo-black w3-padding-64">
    <div class="w3-auto w3-container w3-padding-64">
        <h2 class="w3-xxxlarge">The essential repository for Front End Web Developers.</h2>
        <p class="w3-xlarge">Easily link to what you need, when you need it.</p>
    </div>
</section>

<section class="w3-metro-darken">
    <div class="w3-content w3-container w3-padding-64">
        <h2 class="w3-xxlarge"><b>W3</b><span class="w3-text-green">&bullet;</span>CSS</h2>
        <p class="w3-large w3-text-camo-gray">A Quality Alternative CSS Framework by <span class="w3-text-green">W3 Schools</span>.</p>

        <p>&nbsp;</p>

        <p><b>To get started, just link to the CSS file.</b></p>
        <p class="overflow"><code><span style="color: var( --color-html-bracket );">&lt;</span><span style="color: var( --color-html-tag );">link</span> <span style="color: var( --color-html-attr );">rel</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"stylesheet"</span> <span style="color: var( --color-html-attr );">type</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"text/css"</span> <span style="color: var( --color-html-attr );">href</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"https://w3css.{{ site_domain }}/4.15/w3.css"</span><span style="color: var( --color-html-bracket );">&gt;</span></code></p>

        <p>&nbsp;</p>

        <p class="w3-large"><a href="/w3css" class="w3-button w3-metro-dark-green w3-hover-metro-dark-green w3-text-white w3-hover-text-white w3-round-xxlarge w3-padding-large">Find Out More</a></p>
    </div>
</section>

<section class="w3-metro-darken">
    <div class="w3-content w3-container w3-padding-64">
        <h2 class="w3-xxlarge"><i>Web<b>Fonts</b></i></h2>
        <p class="w3-large w3-text-camo-gray">Using the right font for your project can make all the difference. Save less time finding and downloading fonts, by simply linking to the ones you wish to use, and applying them to the sections you need.</p>

        <p>Get started with the Staticly Recommended font, <b>Poppins</b>.</p>
        <p class="w3-text-camo-gray overflow"><code><span style="color: var( --color-html-bracket );">&lt;</span><span style="color: var( --color-html-tag );">link</span> <span style="color: var( --color-html-attr );">rel</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"stylesheet"</span> <span style="color: var( --color-html-attr );">type</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"text/css"</span> <span style="color: var( --color-html-attr );">href</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"https://webfonts.{{ site_domain }}/poppins/poppins.css"</span><span style="color: var( --color-html-bracket );">&gt;</span></code></p>
        <p class="w3-text-camo-gray">Apply it using the included CSS class...</p>
        <p class="w3-text-camo-gray overflow"><code><span style="color: var( --color-html-bracket );">&lt;</span><span style="color: var( --color-html-tag );">span</span> <span style="color: var( --color-html-attr );">class</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"font-poppins"</span><span style="color: var( --color-html-bracket );">&gt;</span><span style="color: var( --color-html-text );">Poppins WebFont</span><span style="color: var( --color-html-bracket );">&lt;/</span><span style="color: var( --color-html-tag );">span</span><span style="color: var( --color-html-bracket );">&gt;</span></code></p>
        <p class="w3-text-camo-gray">Or apply it manually in your own CSS styling...</p>
        <p class="w3-text-camo-gray overflow"><code><span style="color: var( --color-html-bracket );">&lt;</span><span style="color: var( --color-html-tag );">span</span> <span style="color: var( --color-html-attr );">style</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"font-family: 'Poppins', sans-serif;"</span><span style="color: var( --color-html-bracket );">&gt;</span><span style="color: var( --color-html-text );">Poppins WebFont</span><span style="color: var( --color-html-bracket );">&lt;/</span><span style="color: var( --color-html-tag );">span</span><span style="color: var( --color-html-bracket );">&gt;</span></code></p>
    </div>
</section>