---
title: W3.CSS
layout: "base.njk"
---

<section class="w3-metro-darken w3-card w3-center">
    <div class="w3-auto w3-padding w3-row">
        <h2 class="w3-xxlarge w3-left w3-mobile"><b>W3</b><span class="w3-text-green">&bullet;</span>CSS</h2>
    </div>
</section>

<section class="w3-camo-black w3-padding-64 w3-center">
    <div class="w3-content w3-padding">
        <p class="w3-jumbo"><b>W3</b><span class="w3-text-green">&bullet;</span>CSS</p>
        <h3 class="w3-xxxlarge">A Quality Alternative</h3>
        <p class="w3-xlarge w3-text-camo-gray">Front End CSS Framework by <span class="w3-text-green">W3 Schools</span>.</p>
        <p class="w3-large"><a href="https://www.w3schools.com/w3css" target="_blank" class="w3-button w3-metro-dark-green w3-hover-metro-dark-green w3-text-white w3-hover-text-white w3-round-xxlarge w3-padding-large">Visit <b>W3</b><span class="w3-text-light-green">&bullet;</span>CSS Website</a></p>
        <p class="w3-padding-32"></p>
    </div>
</section>

<section class="w3-metro-darken w3-padding-64">
    <div class="w3-content w3-padding">
        <p><b>To get started, just link to the CSS file.</b></p>
        <p class="overflow"><code><span style="color: var( --color-html-bracket );">&lt;</span><span style="color: var( --color-html-tag );">link</span> <span style="color: var( --color-html-attr );">rel</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"stylesheet"</span> <span style="color: var( --color-html-attr );">type</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"text/css"</span> <span style="color: var( --color-html-attr );">href</span><span style="color: var( --color-html-equals );">=</span><span style="color: var( --color-html-string );">"https://w3css.staticly.ict.rocks/4.15/w3.css"</span><span style="color: var( --color-html-bracket );">&gt;</span></code></p>
    </div>
</section>
